body {
    
}
#header {
    width:100px;
    height:1000px;
    background-color:;
}

#nav_bar li{
    margin-top:50px;

    
}

#nav_bar {
    flex-direction:column;
    font-family:"Helvetica";
    font:bold;
    list-style-type: none;
    color: black;
    padding:200px 15px;
   
}

#title {
    background-image: url(images/glitter.gif);
    width:500px;
}

.heading {
    color:black;
    font-family: sans-serif;
}
